<link rel="stylesheet" href="/style.css">

<div class="nav-bar-container">
    <div class="nav-link-wrapper">
      <div class="title-container">
        <h1 class="title">Architecture Index</h1>
      </div>
       
            <!-- <div class="nav-link">
            <form action="/architecture/new">
        <button class="new-button" style="font-size:32px;">&#9532;</button>
      </form>
      <div> -->
        <!-- <a href="sign-in" style="font-size:16px;">Sign in</a> -->
    </div>
    <div class="nav-link">
      <form action="/architecture/new">
  <button class="new-button" style="font-size:32px;">&#9532;</button>
</form>
<div>
    </div>
    </div>
</div>