<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <title>Architecture index</title> -->
<%- include ('./partials/head.ejs') %>
</head>
<body class="new-background">
  <div class="wrapper">
    <header>
      <%- include ('./partials/header.ejs') %>
      <div>
        <button class="nav-button"><a class="text" href="/architecture">Back</a></button>
      </div>
    </header>
    <div class="new-container">
      <ul>
        <li>
          <h1>Add Architecture</h1>
          <br>
          <!-- <h3>Select type of visit:</h3>
          <br> -->
    <form action="/architecture" method="POST">
      <!-- <label for="dayTag">Day visit</label><br>
        <span style='font-size: 48px;'>☀</span><br>
        <br>
      <label for="dayTag">Overnight stay</label><br>
        <span style='font-size: 48px;'>🛏</span><br>
        <br> -->
        <label style='font-size: 2.25vw;font-weight: 400;' for="dayTag">
          <!-- Day visit: -->
        <!-- </label> -->
        <input  class="edit-input" type="checkbox" name="dayTag" checked="true" value="true">
        Day visit
      </label>
          <br>
          <label style='font-size: 2.25vw;font-weight: 400;' for="nightTag">
            <!-- Overnight: -->
          <!-- </label> -->
          <input  class="edit-input" type="checkbox" name="nightTag" checked="true" value="true">
        Overnight
        </label>
          <br>
          <br>
          <input style='width:100%;' class="edit-input" type="text" name="title" placeholder="Title"required>
          <br>
          <input style='width:100%;' class="edit-input" type="text" name="architectOne" placeholder="Architect #1"required>
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="architectTwo" placeholder="Architect #2">
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="year" placeholder="Year" required>
          <br>
          <input style='width:100%;' type="url" class="edit-input" pattern="https://.*" name="img" placeholder="Image" required>
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="loc.streetAddress" placeholder="Street address" required>
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="loc.city" placeholder="City" required>
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="loc.state" placeholder="State">
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="loc.postalCode" placeholder="Postcode" required>
          <br>
          <input style='width:100%;' type="text" class="edit-input" name="loc.country" placeholder="Country" required>
          <br>
          <input style='width:100%;' type="url" class="edit-input" name="link" placeholder="Website">
          <br>
          <input style='width:100%;' type="number" class="edit-input" name="visits" placeholder="Number of visits">
          <br>
          <input style='width:100%;' type="submit" class="edit-submit" value="Submit">
      </form>
    </div>
    </div>
  </body>
</html>